
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
 margin: 0;
 padding: 0;
 border: 0;
 font-size: 100%;
 font: inherit;
 vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
 display: block;
}
body {
 line-height: 1;
}
ol, ul {
 list-style: none;
}
blockquote, q {
 quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
 content: '';
 content: none;
}
table {
 border-collapse: collapse;
 border-spacing: 0;
}


/* some default styles for common elements*/
.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

/* You can add global styles to this file, and also import other style files */

body{
 background-color: #eee;
}
.container{
 width: 90%;
 margin: 0 auto;
 overflow: hidden;
 background-color: #eee;
 margin-top: 5%;

}

.navbar-fixed-top {
  position: fixed;
  top: 0;
  z-index: 1030;
  width: 90%;
  background-color: #aee;
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: 15%;
}
.navbar-fixed-top img{
 width: 5%;
}

.float_left{
  float: left;
}
.float_right{
  float: right;
}

.width30{
  max-width: 30%;
  min-width: 30%;
}

.width100{
  min-width: 100%;
  max-width: 100%;
}
.width35{
 width: 35%;
}
.width50{
 width: 50%;
}
.width48{
 width: 48%;
}
.ptop10{
 padding-top: 10%;
}

.verticalLine-left {
  border-left: 1px solid #ff0000;
  padding-left:  1%;
}

.verticalLine-right {
  border-right: 1px solid #ff0000;
  padding-right: 1%;
}

.center-div{
 margin: 0 auto;
}
.right_align{
 text-align: right;
}
.p2{
 padding: 2%;
}
.overflow_hidden{
 overflow: hidden;
}
.mb2{
  margin-bottom: 2%;
}

.pl1{
padding-left: 1%;
}
.media100{
  display: block !important;
}
.media60{
  display: none !important;
}
.media30{
  display: none !important;
}

.media6030{
  display: none !important;
}
@media screen and (max-width: 60em){
  .media100{
    display: none !important;
  }
  .media60{
    display: block !important;
  }
  .media30{
    display: none !important;
  }
  .media6030{
    display: block !important;
  }
}

@media screen and (max-width: 30em){
  .media100{
    display: none !important;
  }
  .media60{
    display: none !important;
  }
  .media30{
    display: block !important;
  }
  .media6030{
    display: block !important;
  }
}