<div class="overflow_hidden">
	<div class="mb2">
		<div class="width50 verticalLine-right float_left">
			<div class="right_align "><a>Membership Plans</a></div>
		</div>
		<div class="width50 pl1 float_right ">
			<a>Register Now</a>
		</div>
	</div>
	<br/>
	<div class="verticalLine-right float_left width50">
	<div class="jumbotron">
			<div class="well">
				<img src="/assets/images/hearts.png">
				<h1>Hello, Mate!</h1>
				<p>Let's find a soulmate for you from the millions out there!</p>

				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. 
				</p>
			</div>
		</div>
	</div>
	<div class="width50 p2 float_right">
		<register-panel></register-panel>
	</div>
	<div class="clearfix"></div>
	<success-message-panel></success-message-panel>
</div>