<div class="container-fluid float_left">
  <div class="navbar-header">
    <ul class="nav nav-pills">
      <li role="presentation"><a [routerLink]="['home']">Home</a></li>
      <li role="presentation"><a [routerLink]="['success-stories']">Success Messages</a></li>
      <li role="presentation"><a [routerLink]="['register']">Register</a></li>
      <li role="presentation"><a [routerLink]="['about-us']">About Us</a></li>
      <li role="presentation" class="float_right media6030"><a [routerLink]="['login']">Log In</a></li>
    </ul>
  </div>
</div>
<div class="media100 float_right">
  <login-panel></login-panel>
</div>

